body{
    background-color: #F8E0E0;
    color: black;
 	text-align: center;
}

.form,.limit,.greeting,.greetingLimit,.birthday,.notshow{
    display:none;
}
.showing,.showingLimit,.showingBirthday,.change{
    display:block;
}
.warning{
    background-color:red;
}