body{
    background-color: #F8E0E0;
    color: black;
 	text-align: center;
}

.form,.limit,.greeting,.greetingLimit,.birthday{
    display:none;
}
.showing,.showingLimit,.showingBirthday,.change,.showingBirthday{
    display:block;
}